* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.map-container {
    width: 100vw;
    height: 100vh;
}
.marker {
    filter: invert(56%) sepia(20%) saturate(5676%) hue-rotate(175deg) brightness(97%) contrast(96%);
}

/* leaflet css overwrite */
.leaflet-tooltip {
    border: 2px solid #1DA1F2;
    padding: 1px 5px;
    font-weight: bold;
}

/* blue #1DA1F2 */
/* red: #FF495C */
/* purple: #662E9B */
/* yellow: #F1C40F */